#contact-form textarea:focus, input:focus{
    outline: none;
}
#contact-form ul li {
    list-style: none;
}

#contact-form h1{
    font-weight: 800;
    text-transform: uppercase;
    color: white;
    font-size: 25px;
    text-align: center;
    margin: 30px 100px;
}
#contact-form ul {
    display: inline-block
}
.modal {
    margin: auto auto;
    padding-right: 0;
}
#contact-form  {
    text-align: center;
    width: 35rem;
    height: 35rem;
    background-color: #191963;
    
}

.form-content input {
    border: 0;
    margin-left: 25%;
    width: 50%;
    padding: 10px;
    border-bottom: 2px solid white;
    background: #14144b;
    font-family: 'Fontawesome', 'Source Sans Pro', sans-serif;
    display: block;
    color: white;
    
}

#contact-form textarea{
    border: 0;
    width: 50%;
    height: 100px;
    display: block;
    margin-left: 25%;
    margin-top: 30px;
    background: #14144b;
    padding: 20px;
    font-family: 'Fontawesome', 'Source Sans Pro', sans-serif;
    border-bottom: 2px solid white;
    color: white;
}
.form-content #submit {
  margin: 3em auto 4em;
  border: 2px solid white;
  color: white;
}
#contact-form #submit:hover {
    color: white;
}
#contact-form p {
    margin-bottom: 30px;
    margin-left: 40px;
    margin-right: 40px;
}
#contact-form #submit{
    background: white;
    border: 2px solid white;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    padding: 0.9rem 10rem;
    color: black;
    font-family: 'Open Sans';
    font-size: 15px;
    font-style:initial;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
    transition: ease all .3s;
    display: block;
}

#contact-form #submit:hover{
    background: #f91e68;
    color: #fff; border:
    #f91e68 solid 2px;
}
#contact-form  #submit:active{
    background: white;
    color: #fff;
    border: #f91e68 solid 2px;
}

#contact-form .close{
    cursor: pointer;
    font-size: 3.5rem;
    color: #ee4444;
    margin-top: -1.5rem;
}
@media (max-width: 1080px) {
    #contact-form h1 {
        font-size: 1.5rem;
        text-align: center;
        margin-left: 45px;
        margin-right: 0;
    
    }
    #contact-form p {
        width: 16rem;
    }
    #contact-form textarea{
        width: 16rem;
        margin-left: 3.2rem;
    }
    #contact-form input {
        width: 16rem;
        margin-left: 3.2rem;
    }
    #contact-form {
        height: 35rem;
        width: 22rem;
    }
    #contact-form #submit {
        margin-top: 2rem;
        margin-left: 4.5rem;
        margin-bottom: 1.5rem;
        padding-left: 5rem;
        padding-right: 5rem;
        font-size: 1rem;
    }
    #contact-form .close {
        margin-right: 1rem;
    }
}
